<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <nav class="site-index" aria-label="Page index">
        <a href="#bio">Bio</a>
        <a href="#current-projects">Current projects</a>
        <a href="#past-projects">Past projects</a>
        <a href="#publications">Publications</a>
        <a href="#teaching">Teaching</a>
      </nav>

      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_user_page %}
          <nav class="view" aria-label="Profile links">
            <a href="https://x.com/chang_m_yun">X/Twitter</a>,
            <a href="https://www.linkedin.com/in/chang-m-yun/">LinkedIn</a>,
            <a href="https://bsky.app/profile/chang-m-yun.bsky.social">Bluesky</a>,
            <a href="{{ site.github.owner_url }}">GitHub</a>,
            <a href="https://profiles.stanford.edu/chang-m-yun">Stanford</a>,
            <a href="https://kundajelab.github.io/">Kundaje Lab</a>
          </nav>
          <br>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Copyright &copy; {{ "now" | date: "%Y" }} Chang M. Yun</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
